

/*body {
  background:gray;
  font-size:20px;
  font-family:'Georgia',Times, Times New Roman;
  line-height: 34px;
  color:#777;
}*/

/*index.html CSS*/

* {
  box-sizing:border-box;
}

body {
  background: #eee;
  font-size:20px;
  font-family:'Georgia',Times, Times New Roman;
  line-height: 34px;
  color:#777;
}


#titlebox {
  width:260px;
  background: #4aaaa5;
  font-family:'Georgia', Times New Roman;
  text-align:center;
  line-height:45px;
  color:#fff;
  font-weight:700;
  font-size:25px;
  text-decoration:none;
}

nav {
  
  list-style:none;
  position:absolute;
  top:0;
  right:0;
  
}

nav li {
  float:left;
  padding:9px; 
}

a {
  color:#777777;
}

/*Will the #header-links CSS still work?*/
#header-links{
  overflow:auto;
  border-bottom:1px solid #ccc;
  width:100%; 
  
}


 /*index.html section */

 #about-section {
  padding-top: 116px;  
  padding-left:73px;
 }
 
 .title {
   color:#4aaaa5;
   font-size:30px;
 
 }


 .about-me {
  background:#fff;
  margin:0 0 12px 0;
  padding:20px;
  width:100%;
  max-width:650px;
  float:left;
  border:1px solid #ddd;
}

.bio-image {
  width:190px;
  margin-top:10px;
  float:left;
  margin-right: 25px;
}

P {
  text-align:center;
}
/*end index.html CSS*/


/*connect with me box*/

#side-content{
  display: block;
  width:100%;
}

.icons {
  display: inline-block;
  max-width: 20%;
  margin: 0 2.5%;
}

h2 {
  color:#4aaaa5;
}



/*#side-content {
  background:#666;
  width:100%;
  max-width:270px;
  float:right;
  border:1px solid #ddd;
  margin-bottom:20px;
}

.connect {
  list-style:none;
  position:absolute;
  top:0;
  right:0;
}

.connect:li {
  float:right;
  
  
}

/*begin footer css*/

footer {
  background:#666;
  color:#fff;
  border-top:10px solid #4aaaa5;
  padding:30px;
  clear:both;
  color:#ccc;
  text-align: center;
}

/*end footer css*/


/*begin portfolio.css*/

.portfolio {
  width:274px;
  overflow:auto;
  position:relative;
  float:left;
  margin: 20px 0 25px;
}

/*.portfolio:nth-child(even){
  margin-right:44px;
}

.portfolio img {
  width:100%;
  border:0 none;
  opacity:0;
}*/

/*.portfolio h3 {
  border-bottom:0;
  background:#4aaaa5;
  color:#fff;
  text-align:center;
  position:absolute;
  bottom:20px;
  padding:15px;
  width:100%;
  line-height:30px;
}*/

/*end portfolio.css*/

/*below css is for title cards on images*/
 /*.title {
  background-color:teal;
  color:white;
  display:inline;
  padding:10.5rem;
}*/


/*.contact {
  
}

p { 
 color:gray; 
}



button {
  background-color:#4aaaa5;
  color:white;
  
}

